<section id="download" class="vh-75 dt bg-white mid-grey w-100">
  <div class="dtc v-mid center measure tc">
    <h2 class="f1 f-headline-ns">Learn what all the fuzz is about!</h2>
    <p>Our app is available on any mobile device! Download now to get started!</p>
    <div>
      <a class="dib mb4 mb0-ns" href="{{site.ios_store_link}}"><img style="height: 60px;" src="img/google-play-badge.svg" alt=""></a>
      <a class="dib mb4 mb0-ns" href="{{site.android_store_link}}"><img style="height: 60px;" src="img/app-store-badge.svg" alt=""></a>
    </div>
  </div>
</section>
