<section id="features" class="mt5 pa0">
    <div class="mw9 center">
        <div class="tc">
          <div class="mt4 pa0">
            <h2>NEW NEW Unlimited Features, Unlimited Fun</h2>
            <p class="black-50">Check out what you can do with this app theme!</p>
            <hr>
          </div>
        </div>
        <div class="w-100 cf pt5">
            <div class="fl w-100 w-third-ns ph3">
              <div class="device-container">
                <div class="device-mockup iphone6_plus portrait white">
                  <div class="device">
                    <div class="screen">
                      <img src="img/ios10-iphone7-home-screen-camera-app.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="button"><!-- You can hook the "home button" to some JavaScript events or just remove it --></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fl w-100 w-two-thirds-ns ph3">
                <div class="container-fluid">
                    <div class="cf w-100">
                      <div class="fl w-100 w-50-ns tc mb6">
                        <div class="">
                          {% include icons/smartphone.svg %}
                          <h3 class="f3">Device Mockups</h3>
                          <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                        </div>
                      </div>
                      <div class="fl w-100 w-50-ns tc mb6">
                        <div class="">
                          {% include icons/camera.svg %}
                          <h3 class="f3">Flexible Use</h3>
                          <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="fl w-100 w-50-ns tc mb6">
                        <div class="">
                          {% include icons/package.svg %}
                          <h3 class="f3">Free to Use</h3>
                          <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                        </div>
                      </div>
                      <div class="fl w-100 w-50-ns tc mb6">
                        <div class="">
                          {% include icons/unlock.svg %}
                          <h3 class="f3">Open Source</h3>
                          <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
