<footer class="pv4 ph3 ph5-m ph6-l mid-gray">

  <div class="tc mt3">
    <a href="#" title="Language" class="f6 dib ph2 dim">Language</a>
    <a href="#" title="Terms" class="f6 dib ph2 dim">Terms of Use</a>
    <a href="#" title="Privacy" class="f6 dib ph2 dim">Privacy</a>
  </div>
  <div class="tc mt3 f6 mid-gray">
    Copyright {{ 'now' | date: "%Y" }}.
    Site Designed by <a href="https://www.tachyonstemplates.com/services/insurance-agent-websites/" title="designed by tachyons templates" class="dim">Tachyons Templates</a>.
    Hosting provided by <a href="https://www.serverlessconsultants.com/contact/" title="hosting by serverless consultants" class="dim">Serverless Consultants</a>.
  </div>
</footer>
